.main_chat
  .main_chat__group_info
    .group_display
      .group_display__name
        = @group.name
      %ul.group_display__member
        Member :
        - @group.users.each do |member|
          %li #{member[:name]}
    = link_to edit_group_path(@group), class: "group_edit" do
      Edit
  .main_chat__message_list
    .messages
      = render @messages
  .main_chat__message_form
    .container
      = form_for [@group, @message] do |f|
        .input_box
          = f.text_field :content, class: 'input_box__text', placeholder: 'type a message'
          = f.label :image, class: 'input_box__image' do
            = icon('far', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'submit_btn'