.side_bar
  .side_bar__user_name
    .top_items
      .top_items__name
        = current_user.name
      .top_items__icons
        = link_to new_group_path, class: "top_items__icons__btn" do
          = icon('fas', 'edit')
        = link_to edit_user_path(current_user), class: "top_items__icons__btn" do
          = icon('fas', 'cog')
  .side_bar__group_list
    - current_user.groups.each do |group|
      .latest_message
        = link_to group_messages_path(group) do
          .latest_message__name
            = group.name
          .latest_message__message
            = group.show_last_message