-# - latest_message1 = {group_name: "techcamp", message: "まだメッセージがありません"}
-# - latest_message2 = {group_name: "kz", message: "お腹がすきました"}
-# - latest_messages = [latest_message1, latest_message2]

.side_bar
  .side_bar__user_name
    .top_items
      .top_items__name
        = current_user.name
      .top_items__icons
        = link_to new_group_path, class: "top_items__icons__btn" do
          = icon('fas', 'edit')
        = link_to edit_user_path(current_user), class: "top_items__icons__btn" do
          = icon('fas', 'cog')
  .side_bar__group_list
    - current_user.groups.each do |message|
      .latest_message
        = link_to '#' do
          .latest_message__name
            = message.name
          .latest_message__message
            メッセージはまだありません。